

.card-infos{
  margin-top: -17%;
  margin-left: 26%;
   width:  70%;
   height: 50%;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(205,205,205, 0.90);

}

.card-header{
  background-color: #0F181A;
}
